.btn {
    margin-right: 5px;
    border: 1px solid;
}

*, .modal .btn-dark {
    color: #CC7832;
}

.badge-color {
    color: #fff;
}

.btn-sm {
    width: 150px;
    max-width: 150px;
    margin: 5px;
}

.functions {
    width: 165px;
    max-width: 165px;
}

.col-g {
    width: 25%;
}

.col-p {
    width: 150px;
}

.new-btn {
    width: 90%;
    height: 50px;
    padding-top: 15px;
}

.search {
    width: 250px;
    float: right;
    border: 2px solid #CC7832;
    border-radius: 15px;
    margin-bottom: 5px;
}

.order-record {
    cursor: pointer;
}