<div class="row">
    <div class="col-8">
        <h1>Lançamentos</h1>
    </div>
    <div class="col-4">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="btn btn-sm btn-dark new-btn" [routerLink]="['/register']" aria-current="page"><i class="fas fa-plus"></i> Nova Tarefa</a>
            </li>
          </ul>
    </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-3">
      Ganhos: <span class="badge bg-success badge-color">R$ {{ gains.toFixed(2) }}</span>
    </div>
    <div class="col-3">
      Gastos: <span class="badge bg-danger badge-color">R$ {{ spendings.toFixed(2) }}</span>
    </div>
    <div class="col-3">
      Restante: <span class="badge bg-secondary badge-color">R$ {{ remaining.toFixed(2) }}</span>
    </div>
    <hr>
  </div>
  <div *ngIf="records.length > 0">
    <table class="text-center table table-sm table-dark table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th class="col-g">Descrição</th>
          <th class="col-p">Valor</th>
          <th class="col-p">Data</th>
          <th class="col-p">Categoria</th>
          <th class="col-p">Funções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of records">
          <td class="col-g" >
              {{ record.description }}
          </td>
          <td class="col-p">
              R$ {{ record.value.toFixed(2) }}
          </td>
          <td class="col-p">
              {{ record.date }}
          </td>
          <td>
              {{ record.recordCategory }}
          </td>
          <td class="functions">
            <button type="button" class="btn btn-sm btn-dark" [routerLink]="['/edit/' + record.id]"><i class="fas fa-edit"></i> Editar</button>
            <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal" data-bs-target="#modalRemove" (click)="removerId(record)"><i class="fas fa-trash-alt"></i> Remover</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container">
  <h1 class="text-center" *ngIf="records.length == 0">Nenhum Lançamento cadastrado.</h1>
</div>

<modal-confirmation
  [id]="'modalRemove'"
  [titulo]="'Remover Lançamento '"
  [operacao]="'remover'"
  [conteudo]="'o lançamento ' + record.description + '?'"
  (confirmar)="remover()">
</modal-confirmation>