<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']">Economy</a>
    <form class="d-flex">
      <div class="col-5 input-group text-end search">
        <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
        <input type="text" class="form-control search-text" placeholder="Pesquisa...">
      </div>
    </form>
  </div>
</nav>
<br>
<div class="container">
  <router-outlet></router-outlet>
</div>